---
import { getCollection, render } from "astro:content";
import MarkdownPostLayout from "@/layouts/MarkdownPostLayout.astro";
import ReactionApp from "@/components/ReactionApp";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
const minutesRead = remarkPluginFrontmatter?.minutesRead ?? "";
const slug = post.data.slug;
---

<MarkdownPostLayout minutesRead={minutesRead} frontmatter={post.data}>
    <Content />
    <p class="italic text-sm text-muted-foreground mt-8 mb-3">
        Thanks for reading!
    </p>
    <ReactionApp client:load postId={slug} />
</MarkdownPostLayout>
