---
import { getCollection } from "astro:content";
import { slugifyAll, slugifyStr } from "@/utils/Slugify";
import Layout from "@/layouts/Layout.astro";
import BlogReel from "@/components/BlogReel.astro";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    const allTags = Array.from(
        new Set(allPosts.flatMap((post) => post.data.tags || [])),
    );
    const slugifiedTags = allTags.map((tag) => slugifyStr(tag));
    const uniqueSlugifiedTags = Array.from(new Set(slugifiedTags));

    return uniqueSlugifiedTags.map((tag) => ({
        params: { tag },
    }));
}

const { tag } = Astro.params;
const allPosts = await getCollection("blog");

const filteredPosts = allPosts.filter((post) =>
    slugifyAll(post.data.tags || []).includes(tag),
);
---

<Layout
    title={`Notes tagged with "${tag}"`}
    description={`Notes tagged with ${tag}`}
>
    <div
        class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10"
        data-pagefind-ignore="all"
    >
        <div
            class="flex flex-wrap items-center gap-x-4 text-3xl text-foreground"
        >
            <h1>Tagged with "{tag}"</h1>
        </div>

        {
            filteredPosts.length === 0 ? (
                <p>No notes found with this tag.</p>
            ) : (
                <BlogReel posts={filteredPosts} />
            )
        }
        <a
            href="/notes"
            class="inline-block mt-2 text-primary font-semibold hover:underline"
            aria-label="Back to notes"
        >
            ← Back to Notes
        </a>
    </div>
</Layout>
