---
import Layout from "@/layouts/Layout.astro";
---
<Layout title="Colophon" description="Colophon page">
    <div class="mx-auto w-full mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Colophon</h1>
            <p>
                I develop this site in <a href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">VS Code</a> with <a href="https://github.com/anthropics/claude-code" target="_blank" rel="noopener noreferrer">Claude Code</a>, which allows me to happily overengineer this website to my heart's content. Version control is managed with <a href="https://desktop.github.com/" target="_blank" rel="noopener noreferrer">GitHub Desktop</a>.
            </p>
            <p>
                The site is built on the
                <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro framework</a>
                and styled with <a href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer">Tailwind</a>.
                The font is <a href="https://fontsource.org/fonts/karla" target="_blank" rel="noopener noreferrer">Karla</a>, and icons throughout the site are from <a href="https://lucide.dev/" target="_blank" rel="noopener noreferrer">Lucide</a>.
            </p>
            <p>
                For backend functionality, I'm using <a href="https://www.convex.dev/" target="_blank" rel="noopener noreferrer">Convex</a> as my database to power real-time reactions on my blog posts - you can scroll down to the bottom of any post to see what I'm talking about.
                I built my own CMS using the <a href="https://docs.github.com/en/rest" target="_blank" rel="noopener noreferrer">GitHub API</a> where I can create new blog posts without pulling my codebase down locally.
            </p>
            <p>
                Site features include <a href="https://github.com/shishkin/astro-pagefind" target="_blank" rel="noopener noreferrer">Pagefind</a> for static search,
                <a href="https://www.npmjs.com/package/reading-time" target="_blank" rel="noopener noreferrer">reading-time</a> to estimate reading time on blog posts, and
                <a href="https://github.com/withastro/astro/tree/main/packages/astro-rss" target="_blank" rel="noopener noreferrer">astro-rss</a> for the RSS feed.
                I use <a href="https://umami.is/" target="_blank" rel="noopener noreferrer">Umami</a> for privacy-friendly analytics and <a href="https://github.com/withastro/astro/tree/main/packages/integrations/sitemap/" target="_blank" rel="noopener noreferrer">Astro Sitemap</a> for SEO.
            </p>
            <p>
                The site is deployed on <a href="https://www.netlify.com/" target="_blank" rel="noopener noreferrer">Netlify</a>.
            </p>
            <p class="text-sm text-tertiary">
                Last updated: November 27, 2025
            </p>
