---
import Layout from "@/layouts/Layout.astro";
import SocialIcon from "@/components/SocialIcon.astro";
import BlogReel from "@/components/BlogReel.astro";
import { Mail, Github, Linkedin } from "@lucide/astro";
import { SITE } from "@/siteConfig";
const blogLink =
	SITE.nav.find((item) => item.label === "Blog")?.href ?? "/blog";
const projectsLink =
	SITE.nav.find((item) => item.label === "Projects")?.href ?? "/projects";
const experimentsLink =
	SITE.nav.find((item) => item.label === "Experiments")?.href ?? "/experiments";

---

<Layout title="Home" description="Home page">
	<div class="mx-auto w-full mt-5 md:mt-10 space-y-10">
		<div class="space-y-6">
			<p>
				I'm a senior product manager building the core product at
				<a
					href="https://octane11.com"
					target="_blank"
					rel="noopener noreferrer">Octane11</a>.
			</p>
			<p>
				Outside of work, I experiment with AI - building <a href={projectsLink}>
				apps and websites</a> to understand where product development is headed.
				</p>
		</div>
		<div class="flex items-center gap-3">
			<p>Connect with me:</p>

			<SocialIcon href={`mailto:${SITE.socials?.email}`} label="Email">
				<Mail />
			</SocialIcon>

			<SocialIcon href={SITE.socials?.linkedin} label="LinkedIn">
				<Linkedin />
			</SocialIcon>

		</div>
		<div class="space-y-6">
		<h2>Latest blog posts</h2>
		<BlogReel preview={true} />
	</div>
	</div>
</Layout>
