---
import Layout from "@/layouts/Layout.astro";
import BlogReel from "@/components/BlogReel.astro";
import { SITE } from "@/siteConfig";
const projectsLink =
	SITE.nav.find((item) => item.label === "Projects")?.href ?? "/projects";
---

<Layout title="Home" description="Home page">
	<div class="mx-auto w-full mt-5 md:mt-10 space-y-10">
		<div class="space-y-6">
			<h1>Hi, I'm Becky.</h1>
			<p>
				I am a senior product manager at
				<a
					href="https://octane11.com"
					target="_blank"
					rel="noopener noreferrer">Octane11</a>, a B2B SaaS company,
				where I build our core data and AI products.
			</p>
			<p>
				I'm a native Hoosier, based in Indianapolis and raising a family (and four chickens) with my husband.
			</p>
			<p>
				Outside of work, you can usually find me tinkering on my own <a href="/projects" target="_blank">side projects</a>,
				playing a board game, or meeting up with a friend at my neighborhood coffee shop.
			</p>
		</div>
		<div class="flex items-center gap-4">
			<a href={`mailto:${SITE.socials?.email}`} class="inline-flex items-center gap-1.5 hover:underline">
				Email
				<svg
					class="text-muted-foreground size-4"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zm11-3v8h-2V6.413l-7.793 7.794l-1.414-1.414L17.585 5H13V3z"
					></path></svg>
			</a>
			<a href={SITE.socials?.linkedin} target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1.5 hover:underline">
				LinkedIn
				<svg
					class="text-muted-foreground size-4"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zm11-3v8h-2V6.413l-7.793 7.794l-1.414-1.414L17.585 5H13V3z"
					></path></svg>
			</a>
		</div>
		<div class="space-y-6">
		<h2>Latest blog posts</h2>
		<BlogReel preview={true} />
	</div>
	</div>
</Layout>
