---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Podroll" description="Podcasts I recommend">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Podroll</h1>
            <p>
                Here is a list of podcasts that I recommend. You can also see a
                specific list of curated Christian podcasts at my side project,
                <a
                    href="https://wellspringarchive.com?ref=beckyschmidt.me"
                    target="_blank"
                >
                    wellspringarchive.com</a
                >. This list is in alphabetical order.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Why I like it</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home Fires</td>
                        <td
                            >The hosts have great banter on being a Christian
                            wife and mother.</td
                        >
                        <td
                            ><a
                                href="https://podcasts.apple.com/us/podcast/home-fires/id1530704128"
                                target="_blank">Apple podcasts</a
                            ></td
                        >
                    </tr>
                    <tr>
                        <td>How I AI</td>
                        <td
                            >This podcast shows real use cases for AI in
                            professional life, usually with screensharing from
                            the guest so you can apply what you've learned.</td
                        >
                        <td
                            ><a
                                href="https://www.youtube.com/@howiaipodcast"
                                target="_blank">YouTube</a
                            ></td
                        >
                    </tr>
                    <tr>
                        <td>Lenny's Podcast</td>
                        <td
                            >Lenny is a great interviewer, and lately he's been
                            getting a lot of interesting guests from trending
                            companies.</td
                        >
                        <td
                            ><a
                                href="https://open.spotify.com/show/2dR1MUZEHCOnz1LVfNac0j"
                                target="_blank">Spotify</a
                            ></td
                        >
                    </tr>
                    <!-- Add more rows here -->
                </tbody>
            </table>
        </div>
    </div>
</Layout>
