---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ui/ProjectCard.astro";
---

<Layout title="Projects" description="Projects page">
    <div class="mx-auto w-full mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Projects</h1>
            <p>
                Apps, websites, and experiments I’ve built to learn, iterate, and try new ideas.
            </p>
            <div class="space-y-6">
                <ProjectCard
                    name="Receipt Scanner"
                    tagline="An AI-powered receipt scanner - reads the receipt, breaks out line items, categorizes, and creates a report."
                    link="https://receipt.beckyschmidt.me?ref=beckyschmidt.me"
                />
                <ProjectCard
                    name="Quick Tip Calculator"
                    tagline="A tip calculator I vibe-coded that I am using to learn SEO."
                    link="https://quick-tip-calculator.com?ref=beckyschmidt.me"
                />
                <ProjectCard
                    name="GolfSimFind"
                    tagline="A golf simulators near me directory to help people find and compare golf simulators in their area."
                    link="https://golfsimfind.com?ref=beckyschmidt.me"
                />
                <ProjectCard
                    name="hey, pal creative"
                    tagline="Marketing website for my friend's videography agency."
                    link="https://heypalcreative.co?ref=beckyschmidt.me"
                />
                <ProjectCard
                    name="bibleplan.app"
                    tagline="A Bible reading plan generator that allows for complete flexibility in what you read and when."
                    link="https://bibleplan.app/?ref=beckyschmidt.me"
                />
                <ProjectCard
                    name="Personal Kanban Home Scheduler"
                    tagline="A personal app for organizing home tasks with a weekly kanban approach."
                    link="https://home.beckyschmidt.me?ref=beckyschmidt.me"
                />
                <ProjectCard
                    name="Wellspring Archive"
                    tagline="A podcast directory designed to help Christians find new, curated content."
                    link="wellspringarchive.com?ref=beckyschmidt.me"
                />
            </div>
        </div>
    </div>
</Layout>
