---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ui/ProjectCard.astro";
import IndyCreatorLogo from "@/assets/logos/indy-creator-logo.png";
import WellspringLogo from "@/assets/logos/wellspring-archive-logo.png";
import BibleplanLogo from "@/assets/logos/bibleplan-logo.png";

import { Archive, Hammer, Repeat } from "@lucide/astro";
---

<Layout title="Projects" description="Projects page">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Stuff I'm tinkering with</h1>
            <p>
                Here are a list of all of the projects I've been working on.
                Projects are loosely defined as apps, websites, writing
                ventures, and whatever else may pique my interest.
            </p>
            <div class="space-y-12">
                <ProjectCard
                    logo={IndyCreatorLogo}
                    name="Indy Creator"
                    statusText="Actively being developed"
                    stack={["Astro", "Tailwind", "Supabase", "Stripe"]}
                    link="https://indycreator.com?ref=beckyschmidt.me"
                    description={"An Indianapolis-only two-sided marketplace for local content creators and businesses to connect and grow their brands. I developed the marketing landing page and app using Astro as my framework, with Supabase as the backend database."}
                    reason={"Born out of a love for my hometown, I wanted to try my hand at a micro-SaaS while also benefitting my local community."}
                >
                    <Hammer slot="statusIcon" />
                </ProjectCard>
                <ProjectCard
                    logo={WellspringLogo}
                    name="Wellspring Archive - Directory"
                    statusText="Actively maintained"
                    stack={["Astro", "Tailwind", "Supabase"]}
                    link="wellspringarchive.com?ref=beckyschmidt.me"
                    description={"A podcast directory designed to help Christians find new, curated content. I developed the directory using Astro as the framework (migrated from NextJS) and I'm storing the directory listings in Supabase."}
                    reason={"Directories are all the rage again and I wanted to try creating one about something I'm passionate about."}
                >
                    <Repeat slot="statusIcon" />
                </ProjectCard>
                <ProjectCard
                    logo={WellspringLogo}
                    name="Wellspring Archive - Substack"
                    statusText="Not actively writing"
                    stack={["Substack"]}
                    link="https://wellspringarchive.substack.com"
                    description={"Writing about the intersections of faith and technology on Substack. I was using Substack as a launchpad for the Wellspring Archive website."}
                    reason={"I didn't get as much traction on Substack as I would've liked. I probably needed to market this harder with my personal network, rather than relying on Substack's algorithms."}
                >
                    <Archive slot="statusIcon" />
                </ProjectCard>

                <ProjectCard
                    logo={BibleplanLogo}
                    name="bibleplan.app"
                    statusText="Not actively maintained"
                    stack={["Next.js", "DaisyUI", "Supabase"]}
                    link="https://bibleplan.app/?ref=beckyschmidt.me"
                    description={"A Bible reading plan generator that allows for complete flexibility in what you read and when. This was my first foray into vibe coding at the start of 2025 – I started with ChatGPT and finished it in Cursor, using Next.js and Supabase."}
                    reason={"I implemented quite a few features here that I am proud of, including real-time plan tracking and a plan generation algorithm that is designed to evenly distribute readings across days based on your selection and plan duration."}
                >
                    <Archive slot="statusIcon" />
                </ProjectCard>
            </div>
        </div>
    </div>
</Layout>
