---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Resume" description="My work history">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>My resume</h1>
        </div>
    </div>
</Layout>
