---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Slash pages" description="Pages that are just for fun">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Slash pages</h1>
            <p>
                This directory of my slash pages is inspired by <a
                    href="https://slashpages.net/"
                    target="_blank"
                    rel="noopener noreferrer">slashpages.net</a
                >. Feel free to peruse!
            </p>
            <ul>
                <li>
                    <a href="/stack">Stack</a> - my favorite development tools
                </li>
                <li>
                    <a href="/uses">Uses</a> - stuff I use on a daily basis
                </li>
            </ul>
        </div>
    </div>
</Layout>
