---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Stack" description="My favorite development tools">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Stack</h1>
            <p>
                In 2025 I have recently forayed into web development. The tools
                that I like the best are beginner-friendly and have
                comprehensive documentation.
            </p>
            <h2>Frameworks</h2>
            <p>
                At this point, there is really only one framework that I like
                and would recommend, and that's <a
                    href="https://astro.build"
                    target="_blank">Astro</a
                >. I have developed a few sites using Next.js because that's
                what all the agentic coding agents love, but I find Astro easier
                to understand, read, and use, even for full stack development.
            </p>
            <p class="mb-0">Helpful Astro resources:</p>
            <ul>
                <li>
                    <a
                        href="https://docs.astro.build/en/getting-started/"
                        target="_blank">Astro docs</a
                    >
                    <li>
                        <a
                            href="https://www.youtube.com/c/CodinginPublic"
                            target="_blank"
                            >Coding in Public YouTube channel
                        </a>
                        <li>
                            <a
                                href="https://www.reddit.com/r/astrojs/"
                                target="_blank"
                                >Astro subreddit
                            </a>
                        </li>
                    </li>
                </li>
            </ul>
            <h2>Styling</h2>
            <p>
                <a href="https://tailwindcss.com/" target="_blank">Tailwind</a> is
                the most popular CSS framework and easily integrates with Astro.
                For awhile I was trying out different component libraries like DaisyUI
                or Shadcn, but I end up just creating my own components per project
                with Tailwind so I can have more control and avoid adding React to
                my project wherever possible.
            </p>
            <p class="mb-0">Helpful Tailwind resources:</p>
            <ul>
                <li>
                    <a
                        href="https://tailwindcss.com/docs/installation/using-vite"
                        target="_blank">Tailwind docs</a
                    >
                    <li>
                        <a
                            href="https://www.creative-tim.com/twcomponents/cheatsheet"
                            target="_blank"
                            >Creative Tim Tailwind cheat sheet
                        </a>
                    </li>
                </li>
            </ul>
            <h2>Database</h2>
            <p>
                The most popular database for agentic coding right now is
                <a href="https://supabase.com/" target="_blank">Supabase</a>. I
                like it because I was already familiar with SQL before I started
                using it, and it has a very friendly frontend and a generous
                free tier. The documentation is both very good and hard for a
                non-technical person to understand. I still usually have
                challenges with authentication and RLS, but ever since I
                connected Supabase to Cursor via MCP, those challenges have
                gotten signficantly easier.
            </p>
            <h2>Analytics</h2>
            <p>
                My favorite analytics tool is <a
                    href="https://umami.is/"
                    target="_blank">Umami</a
                >. It has a great free tier and is easy to integrate into any
                site. It's cookie-less and open source, and the dashboard is
                very easy to use.
            </p>
            <h2>Deployment</h2>
            <p>
                Right now I'm using three different deployment platforms: <a
                    href="https://www.cloudflare.com/"
                    target="_blank">Cloudflare</a
                >,
                <a href="https://www.netlify.com/" target="_blank">Netlify</a>,
                and
                <a href="https://www.vercel.com/" target="_blank">Vercel</a>.
                I like all three for different reasons. Vercel was great for deploying
                Next.js projects (for obvious reasons) and I really like their UI.
                Cloudflare pages is really simple for static websites, and I started using
                Netlify when I deployed my first Astro web app.
            </p>
        </div>
    </div></Layout
>
