---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Stack" description="My favorite development tools">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Stack</h1>
            <p>
                I just recently entered the web development space so the 
                resources that I like the best are beginner-friendly.
            </p>
            <ul>
                <li>
                    <a href="/podroll">Podroll</a> - a list of podcasts I recommend
                </li>
                <li>
                    <a href="/stack">Stack</a> - my favorite development tools
                </li>
                <li>
                    <a href="/stack">Uses</a> - stuff I use on a daily basis
                </li>
            </ul>
        </div>
    </div>
</Layout>
