---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Uses" description="Things I use every day">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Uses</h1>
            <p>
                These are random things that I like that I use a lot.
            </p>
        </div>
    </div>
</Layout>
