---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Uses" description="Things I use every day">
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <h1>Uses</h1>
            <p>These are random things that I like that I use a lot.</p>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Why I Like It</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AirPods</td>
      <td>Great for taking remote meetings, pairs seamlessly with iPhone.</td>
    </tr>
    <tr>
      <td><a href="https://www.birkenstock.com/" target="_blank">Birkenstocks</a></td>
      <td>My default summer shoes. There is no competition.</td>
    </tr>
    <tr>
      <td>Blue Light Glasses</td>
      <td>Perfect for protecting my eyes when I'm staring at a screen for 8 hours a day.</td>
    </tr>
    <tr>
      <td><a href="https://www.blenderbottle.com/" target="_blank">Blender Bottles</a></td>
      <td>Used for “healthy drinks” — greens & beet powders, and also Nuun electrolyte tablets.</td>
    </tr>
    <tr>
      <td><a href="https://chat.openai.com/" target="_blank">ChatGPT</a></td>
      <td>AI of choice. I'm cheap and the free tier is excellent. Mostly use it for writing refinement and coding.</td>
    </tr>
    <tr>
      <td>iPhone 14 Pro</td>
      <td>My current phone. Mac ecosystem is elite, I can't leave it.</td>
    </tr>
    <tr>
      <td><a href="https://www.lodgecastiron.com/product/12-inch-cast-iron-skillet?sku=L10SK3" target="_blank">12in Lodge Cast Iron Skillet</a></td>
      <td>Almost a daily driver for cooking. Reliable and durable.</td>
    </tr>
    <tr>
      <td><a href="https://www.paprikaapp.com/" target="_blank">Paprika App</a></td>
      <td>Best for recipe management. Gets through paywalls and finds the recipe hidden in long blog posts.</td>
    </tr>
    <tr>
      <td><a href="https://www.quadlockcase.com/" target="_blank">QuadLock Case</a></td>
      <td>Super dependable. I use the wallet and stroller attachments.</td>
    </tr>
    <tr>
      <td><a href="https://www.yeti.com/drinkware/hydration/21071505976.html" target="_blank">46oz Yeti Water Bottle</a></td>
      <td>My daily driver for water bottles. Dependable and BIG.</td>
    </tr>
  </tbody>
</table>

        </div>
    </div>
</Layout>
