---
const { href, label, children } = Astro.props;
---

<a
    href={href}
    target={href.startsWith("http") ? "_blank" : undefined}
    rel={href.startsWith("http") ? "noopener noreferrer" : undefined}
    aria-label={label}
    class="p-2 bg-muted rounded-lg text-foreground hover:text-surface transition inline-flex items-center justify-center"
>
        <slot />
</a>
