---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "@/components/Navbar.astro";

const { title, description, image, canonicalURL } = Astro.props;
---

<BaseLayout
    title={title}
    description={description}
    image={image}
    canonicalURL={canonicalURL}
>
    <Navbar />
    <main class="px-4 flex-1">
        <slot />
    </main>
</BaseLayout>
