---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "@/components/Navbar.astro";
import SearchModal from "@/components/SearchModal.astro";

const { title, description, image, canonicalURL } = Astro.props;
---

<BaseLayout
    title={title}
    description={description}
    image={image}
    canonicalURL={canonicalURL}
>
    <Navbar />
    <main class="px-4 pb-16 mt-4 md:mt-6 flex-1 mx-auto w-full max-w-3xl type-standard">
        <slot />
    </main>
    <SearchModal />
</BaseLayout>
