---
export const prerender = false
import AdminLayout from '../../layouts/AdminLayout.astro';
import BlogEditor from '../../components/BlogEditor.tsx';
---

<AdminLayout title="Blog Editor - Becky Schmidt">
  <main class="container mx-auto px-4 py-8 max-w-7xl">
    <BlogEditor client:load />
  </main>
</AdminLayout>

<style>
  main {
    min-height: calc(100vh - 200px);
  }
</style>