---
// Tag.astro
const { href, children } = Astro.props;
---

<a
    href={href}
    class="px-2 py-0.5 border border-muted rounded text-sm text-tertiary! no-underline! hover:border-foreground/30 transition-colors"
>
    <slot />
</a>
