---
const {
    name,
    tagline,
    link = "",
} = Astro.props;
---

<div class="space-y-1">
    <h3 class="font-medium">
        {
            link ? (
                <a
                    href={link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:underline"
                >
                    {name}
                </a>
            ) : (
                <span>{name}</span>
            )
        }
    </h3>
    {tagline && <p class="text-muted-foreground">{tagline}</p>}
</div>
